# Specific executables
timing2d
benchmark_dgops
eigenvalue
initMatlab
sweep_dt
sweep_dt_bl
run/results/Matlab/

# Meshes
*.h5

# Datafiles
*.dat
*.out
*.mat
*.png
*.mp4

# Emacs working files
*~

# Prerequisites
*.d

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Compiled libraries
*.so
*.dll
*.lib
*.a
*.la

# CMake files
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
_deps